.container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 47% 1fr;
    z-index: 10;
    @media (max-width: 1299px) {
        grid-template-columns: 1fr;
    }
}