
.hero {
    --scaler: 10vw;
    padding-top: 4vh;
    @media (max-width: 767px) {
        padding-top: 0;
    }
    &__career {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 0;
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
    &__name {
        font-family: "Phosphate";
        font-size: clamp( 80px, var(--scaler), 163px );
        line-height: 88%;
        margin: 0 auto;
        background: white;
        position: relative;
        &::before,
        &::after {
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-diframeion: alternate-reverse;
            overflow: hidden;
            position: absolute;
            top: 0;
            opacity: 0;
            clip: frame(0, 900px, 0, 0);
            content: attr(data-text);
        }
       &::after {
            animation-name: glitch;
            animation-duration: 2s;
            animation-delay: 2s;
            left: 4px;
            text-shadow: -1px 0 #ffa800;
            background: white;
          }
          
         &::before {
            animation-name: glitch-2;
            animation-duration: 4s;
            animation-delay: 2s;
            left: -4px;
            text-shadow: 1px 0 #00d8ff;
            background: white;
          }
    }
    svg {
        width: 100%;
        height: auto;
        position: relative;
    }
}

  
  @mixin frame($top, $bottom) {
    clip: rect($top, 9999px, $bottom, 0);
    opacity: 1;
  }
  
  @keyframes glitch {
      
    0% { @include frame(42px, 44px); }
    5% { @include frame(12px, 59px); }
    10% { @include frame(48px, 29px); }
    15.0% { @include frame(42px, 73px); }
    20% { @include frame(63px, 27px); }
    25% { @include frame(34px, 55px); }
    30.0% { @include frame(86px, 73px); }
    35% { @include frame(20px, 20px); }
    40% { @include frame(26px, 60px); }
    45% { @include frame(25px, 66px); }
    50% { @include frame(57px, 98px); }
    55.0% { @include frame(5px, 46px); }
    60.0% { @include frame(82px, 31px); }
    65% { @include frame(54px, 27px); }
    70% { @include frame(28px, 99px); }
    75% { @include frame(45px, 69px); }
    80% { @include frame(23px, 85px); }
    85.0% { @include frame(54px, 84px); }
    90% { @include frame(45px, 47px); }
    95% { @include frame(37px, 20px); }
    100% { @include frame(4px, 91px); }
  }
  
  @keyframes glitch-2 {
    0% { @include frame(65px, 100px);}
    5% { @include frame(52px, 74px); }
    10% { @include frame(79px, 85px); }
    15.0% { @include frame(75px, 5px); }
    20% { @include frame(67px, 61px); }
    25% { @include frame(14px, 79px); }
    30.0% { @include frame(1px, 66px); }
    35% { @include frame(86px, 30px); }
    40% { @include frame(23px, 98px); }
    45% { @include frame(85px, 72px); }
    50% { @include frame(71px, 75px); }
    55.0% { @include frame(2px, 48px); }
    60.0% { @include frame(30px, 16px); }
    65% { @include frame(59px, 50px); }
    70% { @include frame(41px, 62px); }
    75% { @include frame(2px, 82px); }
    80% { @include frame(47px, 73px); }
    85.0% { @include frame(3px, 27px); }
    90% { @include frame(26px, 55px); }
    95% { @include frame(42px, 97px); }
    100% { @include frame(38px, 49px); }
  }
