.me {
    width: 100%;
    padding-top: 8vh;
    position: relative;
    @media (max-width: 1299px) {
        position: absolute;
        bottom: 0;
        right: -30%;
        padding-top: 0;
    }
    @media (max-width: 767px) {
        position: absolute;
        bottom: 0;
        opacity: .1;
    }
    img {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
    }
}
